
    <nav>
        <img class="logo" src="/images/logo.png" alt="logo">
        <ul class="bar">
            <li><i class="fas fa-mobile-alt"></i></li>
            <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/"><i class="fas fa-home"></i></a></li>
            <li class="cuenta">
                <i class="fas fa-user"></i>
                <ul class="user-menu">
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/login">Ingresar</a></li>
                </ul>
            </li>
        </ul>
    </nav>
