<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="stylesheet" href="/css/padre.css">
        <link rel="stylesheet" href="/css/carrito.css">
        <title>Compras</title>
        <link rel="icon" href="images/icono-guitarra.png">
    </head>
    <body>
        <nav>
            <a href="/"><img class="logo" src="images/logo.jpeg" alt="logo"></a>
            <ul class="bar">
                <li><i class="fas fa-mobile-alt"></i></li>
                <li><a href="carrito"> <i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/"> <i class="fas fa-home"></i></a></li>
                <li class="cuenta"><a href="register"><i class="fas fa-user"></i></a></li>
            </ul>
        </nav>
    
        <main>
        </main>
        <footer>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quos natus tenetur illo consectetur fuga aspernatur eligendi laboriosam corporis, molestiae et unde ut mollitia ex eos veritatis beatae, maiores eveniet?</article> 
        </footer>
</body>
</html>