<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: 'Carrito' }) %>
<body>
    <%- include('./partials/header') %>

    <main>
        <div id="carrito">
            <h2>CARRITO</h2>

            <!-- Producto 1 -->
            <div class="producto">
                <img src="images/icono-guitarra.png" alt="Producto 1">
                <div>
                    <h3>Nombre del Producto 1</h3>
                    <div class="cantidad-container">
                        <div class="cantidad">2</div>
                        <div class="agregar-container" onclick="agregarProducto(1)">
                            <span>Agregar</span>
                            <i class="fas fa-plus agregar-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Producto 2 -->
            <div class="producto">
                <img src="images/icono-guitarra.png" alt="Producto 2">
                <div>
                    <h3>Nombre del Producto 2</h3>
                    <div class="cantidad-container">
                        <div class="cantidad">1</div>
                        <div class="agregar-container" onclick="agregarProducto(2)">
                            <span>Agregar</span>
                            <i class="fas fa-plus agregar-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Producto 3 -->
            <div class="producto">
                <img src="images/icono-guitarra.png" alt="Producto 3">
                <div>
                    <h3>Nombre del Producto 3</h3>
                    <div class="cantidad-container">
                        <div class="cantidad">1</div>
                        <div class="agregar-container" onclick="agregarProducto(3)">
                            <span>Agregar</span>
                            <i class="fas fa-plus agregar-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <p id="total">Total: $<span id="totalAmount">0.00</span></p>
            <button id="pagar" onclick="realizarPago()">Pagar</button>
        </div>

    </main>

    <%- include('./partials/footer') %>
</body>

</html>