<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: 'Producto' }) %>
    <body>
        <%- include('./partials/header') %>
    
        <main>
            <%= producto.name %> 


            <section class="element">
                <div class="producto">
                    <img class="image" src="/images/lespaul.jpg" alt="">
                    <div class="prod-head">
                        <div class="nombre-prod">Nombre de producto</div>
                        <div class="medios-pago">Medios de pago</div>
                        <div class="precio">$ XXXXXXXXXXX</div>
                        <div>
                            <input type="text">
                        </div>
                        
                        <button>Agregar al Carrito</button>
                    </div>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusamus veritatis molestias exercitationem. Ex quisquam tenetur a non, aliquam impedit nesciunt voluptatum enim soluta cumque eveniet dolorum odit alias corporis.</p>
                </div>
            </section>
            <section>

            </section>
        </main>
    
        <%- include('./partials/footer') %>
    </body>
</html>