<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: 'Home' }) %>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="carrusel">
            <button class="prev-btn"> << </button>
            <img src="/images/ban.jpg" alt="banner">
            <button class="next-btn"> >> </button>
        </div>
        <div class="search_bar">
            <label for="search_input"> Buscar </label>
            <input class="search_input" id="search_input" type="text" placeholder="...">
        </div>
        <div class="categories">
            <button>guitarras</button>
            <button>amplif.</button>
            <button>pedales</button>
            <button>accesorios</button>
        </div>
        <div class="products">
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
            <article class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </article>
        </div>

    </main>

    <%- include('./partials/footer') %>
</body>
</html>