<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/padre.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
    <link rel="icon" href="images\icono-guitarra.png">
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="carrusel">
            <button class="prev-btn"> << </button>
            <img src="/images/ban.jpg" alt="">
            <button class="next-btn"> >> </button>
        </div>
        <div class="search_bar">
            <label for="search_input"> Buscar </label>
            <input class="search_input" id="search_input" type="text" placeholder="...">
        </div>
        <div class="categories">
            <button>guitarras</button>
            <button>amplif.</button>
            <button>pedales</button>
            <button>accesorios</button>
        </div>
        <div class="products">
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
            <div class="producto">
                <img src="/images/lespaul.jpg" alt="">

            </div>
        </div>

    </main>

    <%- include('./partials/footer') %>
</body>
</html>