<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="logo">
                    <a href="/"><img src="images/logo.jpeg" alt="Logo"></a>
                </div>
                <div>
                    <ul class="login-bar">
                        <li><a href= "carrito" >Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                        <li><a href= "register" >Registrarse <i class="fa-regular fa-address-card"></i></a></li>
                        <li><a href= "login" >Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="form__container">
            <form action="/register" method="POST">
                <div class="form__title">
                    <h1>Registro</h1>
                </div>

                <div class="avatar__container">
                    <label for="avatar">Foto de perfil:</label>
                    <div class="avatar">
                        <img src="images/user-icon.jpg" alt="user_avatar">
                    </div>
                    <div id="file">
                        <p id="btn__file__text">Add file</p>
                        <input type="file" name="avatar" id="avatar" accept=".jpg, .png">
                    </div>
                </div>

                <div class="form__field">
                    <input type="text" name="nombre" required placeholder="    Nombre">
                </div>
                
                <div class="form__field">
                    <input type="text" name="apellido" required placeholder="    Apellido">
                </div>

                <div class="form__field">
                    <input type="text" name="usuario" required placeholder="    Nombre de usuario">
                </div>
            
                <div class="form__field">
                    <input type="email" name="email" required placeholder="    E-mail">
                </div>

                <div class="form__field">
                    <input type="password" name="password" required placeholder="    Contraseña">
                </div>

                <div class="form__field">
                    <input type="number" name="telefono" required placeholder="    Número de teléfono">
                </div>

                <button type="submit" class="form__btn">Registrarse</button>
            </form>
        </main>
        <footer>
    
        </footer>
    </body>
</html>