<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: 'Registrarse' }) %>
    <body>
        <%- include('./partials/header') %>
        <main class="form__container">
            <form action="/users/create" method="POST" >
                <div class="form__title">
                    <h1>Creá tu cuenta</h1>
                </div>

                <div class="avatar__container">
                    <label for="avatar">Foto de perfil:</label>
                    <div class="avatar">
                        <img src="images/user-icon.jpg" alt="user_avatar">
                    </div>
                    <div id="file">
                        <p id="btn__file__text">Add file</p>
                        <input type="file" name="avatar" id="avatar" accept=".jpg, .png">
                    </div>
                </div>

                <div class="form__field">
                    <input type="text" name="nombre" required placeholder="    Nombre">
                </div>
                
                <div class="form__field">
                    <input type="text" name="apellido" required placeholder="    Apellido">
                </div>

                <div class="form__field">
                    <input type="text" name="usuario" required placeholder="    Nombre de usuario">
                </div>
            
                <div class="form__field">
                    <input type="email" name="email" required placeholder="    E-mail">
                </div>

                <div class="form__field">
                    <input type="password" name="password" required placeholder="    Contraseña">
                </div>

                <div class="form__field">
                    <input type="number" name="telefono" required placeholder="    Número de teléfono">
                </div>

                <button type="submit" class="form__btn">Registrarse</button>

                <h2>¿Ya tenes cuenta?</h2> <a href="login">Iniciar sesión</a>
            </form>
        </main>

        <%- include('./partials/footer') %>

    </body>
</html>