:root{
    --azul:rgb(9,33,55);
    --dorado:rgb(196,149,65);
    --azulClaro:rgb(17,58,98);
    --color1: #44749d;
    --color2: #c6d4e1;
    --color3: #ffffff;
    --color4: #ebe7e0;
    --color5: #bdb8ad;
}

.form__container{
    width: 100%;
    display: flex;

}

form{
    background-color: var(--color2);
    margin: 20px auto;
    padding: 30px 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--azul);
    justify-content: center;
    align-items: center;
}

.form__title{
    margin: 20px 0;
}

.avatar__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label{
    display: block;
    align-self: flex-start;
    margin-left: 20%;
    font-size: 20px;
}

.avatar{
    border-radius: 50%;
}

.avatar img{
    width: 60%;
    max-width: 250px;
    background-color: #002255;
    border-radius: 50%;
}

div#file{
    position: relative;
    margin: 10px auto;
    padding: 10px;
    width: 100px;
    background-color: var(--azulClaro);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

div#file:hover{
    background-color: var(--color1);
    color: antiquewhite;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input#avatar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.form__field{
    margin-bottom: 15px;
    padding: 10px;
}

input{
    height: 35px;
    width: 80%;
    border: none;
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 30px;
}

.form__btn{
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: var(--azulClaro);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: medium;
    margin: 30px 40px 35px;
    cursor: pointer;
}

.form__btn:hover{
    background-color: var(--color1);
    color: antiquewhite;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form h2{
    border-top: solid 1px var(--azulClaro);
}

.login__social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 50px 20px;
}

.login__social img{
    width: 20%;
    border-radius: 25%;
    cursor: pointer;
    transition: all 450ms;
    border: solid 1px var(--azulClaro);
}

.login__social img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

h2{
    padding: 20px;
}

a{
    text-decoration: none;
    color: #44749d;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #ffffff;
}