:root{
    --azul:rgb(9,33,55);
    --dorado:rgb(196,149,65);
    --azulClaro:rgb(17,58,98);
}

.carrusel{
    display: flex;
    height: 150px;
    width: 95%;
    border: solid black 1px;
    margin: 20px 0;
    justify-content: space-between;
}

.carrusel button{
    height: 20px;
    align-self: center;
    border: none;
    background-color: var(--azulClaro);
    color: white;
    margin: 10px;
}

.carrusel img{
    position: absolute;
    width: 95%;
    height: 150px;
    z-index: -2;
}

.search_bar{
    background-color: var(--azul);
    color:white;
    width: 95%;
    border-radius: 3px;
    padding: 0 5px;
}

.search_input{
    background-color: var(--azulClaro);
}

.categories{
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: 15px 0;
    
}

.categories button{
    width: 24%;
    background-color: var(--azul);
    border:none;
    color: white;
    border-radius: 3px;
    padding: 5px 0;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.products{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

article .producto{
    width: 23%;
    height: 120px;
    border: solid black 1px;
}

article .producto img{
    margin-right: 0;
}
