*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 211, 206);
}

.logo img{
    position: relative;
    width: 20%;
    height: 40%;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}